form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
  width: 300px;
  background-color: #4682B4;
}

label {
  margin-bottom: 20px;
  width: 80%;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  color: #FFEBCD;
}

textarea {
  margin: 10px 0;
  padding: 5px;
  width: 80%;
  height: 100px;
  font-size: 1.4rem;
  outline: none;
}

textarea::placeholder {
  font-size: 1.4rem;
}

.TaskForm-buttonContainer {
  width: 80%;
}

.TaskForm__button {
  margin: 10px 20px;
  padding: 10px;
  width: 100px;
  font-size: 1.6rem;
  font-weight: 500;
  font-family: 'Times New Roman', Times, serif;
  border: 1px solid #fff;
  cursor: pointer;
  transition: all .5s;
  color: #4682B4;
  background-color: #fff;
}

.TaskForm__button:hover {
  color: #fff;
  background-color: transparent;
}

