* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Edu SA Beginner', cursive;
}

body {
    font-size: 2rem;
    color: #FFEBCD;
    background-color: #4682B4;
}