.TaskButton {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 70px;
    height: 70px;
    border: none;
    border-radius: 50%;
    font-size: 50px;
    transition: all .25s;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    color: #fff;
    background-color: #0ff;
    z-index: 1;
}

.TaskButton:hover {
    transform: rotate(180deg);
    cursor: pointer;
}
